{% load static %}
<header class="fixed z-10 w-full h-40 flex justify-center items-center px-20">
    <nav>
      <ul class="flex space-x-9 text-lg">
        <li>
          <a href="#" class="text-white font-bold hover:text-gray-600 transition duration-300">Habitaciones</a>
        </li>
        <li>
          <a href="#" class="text-white font-bold hover:text-gray-600 transition duration-300">Servicios</a>
        </li>
        <li>
          <a href="#" class="text-white font-bold hover:text-gray-600 transition duration-300">Galería</a>
        </li>
        <li>
          <a href="#" class="text-white font-bold hover:text-gray-600 transition duration-300">Destino</a>
        </li>
        <li>
          <a href="#" class="text-white font-bold hover:text-gray-600 transition duration-300">Contacto</a>
        </li>
      </ul>
    </nav>
</header>
