{% extends 'core.html' %}
{% load static %}

{% block contenido %}
  <div class="flex justify-center items-center h-screen bg-cover bg-center" style="background-image: url('https://cf2.bstatic.com/xdata/images/hotel/max1024x768/540373191.jpg?k=95e6e64f8584f8e427c20ba78ed640bdd2fbcfd2fa60fd8d52ec7791ebcd723e&o=&hp=1');">
    <div class="fixed bg-black bg-opacity-10 w-full h-full"></div>
    <div class="absolute bg-gray-600 bg-opacity-50 p-4 rounded-lg shadow-lg">
      <div class="bg-white rounded-lg p-4">
        <form method="post" class="flex space-y-4">
          {% csrf_token %}
          <!-- Inputs agrupados en dos filas -->
          <div class="flex justify-center items-center space-x-4">
            <!-- Fecha de Entrada -->
            <div class="w-1/2">
              <label for="{{ form.fecha_entrada.id_for_label }}" class="block text-gray-700 font-medium mb-1">Fecha de Entrada</label>
              {{ form.fecha_entrada }}
            </div>

            <!-- Fecha de Salida -->
            <div class="w-1/2">
              <label for="{{ form.fecha_salida.id_for_label }}" class="block text-gray-700 font-medium mb-1">Fecha de Salida</label>
              {{ form.fecha_salida }}
            </div>
          </div>

          <div class="flex space-x-4 mt-4">
            <!-- Número de Adultos -->
            <div class="w-1/2">
              <label for="{{ form.numero_adultos.id_for_label }}" class="block text-gray-700 font-medium mb-1">Número de Adultos</label>
              {{ form.numero_adultos }}
            </div>

            <!-- Número de Niños -->
            <div class="w-1/2">
              <label for="{{ form.numero_ninos.id_for_label }}" class="block text-gray-700 font-medium mb-1">Número de Niños</label>
              {{ form.numero_ninos }}
            </div>
          </div>

          <!-- Botón de reserva -->
          <div class="flex justify-center">
            <button type="submit" class="px-6 py-2 rounded-lg bg-gray-600 text-white hover:bg-blue-700">Reservar</button>
          </div>
        </form>
        {% if mensaje %}
          <p class="text-center text-red-600 mt-4">{{ mensaje }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
